* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

/*reusable styles*/

.container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;

}

section {
  margin: 4rem 0 4rem 0;
  padding: 2rem 0;

}

.section-title {
  font-size: 50px;
  margin-bottom: 2rem;
  padding-bottom: 10px;
  color: black;
  position: relative;
}

@media (min-width: 2300px) {
  .section-title {
    font-size: 70px;
  }

  .section-title:after {
    width: 80px !important;
    height: 3px !important;
  }
}

@media (max-width: 580px) {
  .section-title {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 35px;
    padding-bottom: 8px;
  }
}

h1,
h2 {
  color: black !important;
  font-weight: 700 !important;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-lg {
  font-size: 1rem;
  line-height: 1.5rem;
  color: gray;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.2rem;
  color: gray;
}

.section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #000000;
}

p {
  color: #7A7A7A !important;
  font-weight: 500;
}

#hero {
  margin: 0 0 0 0 !important;
  padding: 0 !important;
}

#hero .divider {
  width: 53px;
  height: 2px;
  margin-bottom: 120px;
  background-color: black;
}

#hero .left-img img {
  display: block;
  width: 100%;
  height: 563px;
  background-color: #f0f0f0;
  /* Default background color for the img */
  transition: opacity 0.3s ease-in;
  opacity: 0;
  /* Hide image initially */
}

#hero .left-img img.loaded {
  opacity: 1;
  /* Show image once it's loaded */
}

#hero h1 {
  font-size: 100px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif !important;
  z-index: 1;
  text-align: start;
}

#hero .hero-sc-title {
  padding: 0 0 0 0;
  margin: 0;
  text-align: end;
}

@media (max-width: 1140px) {
  #hero h1 {
    font-size: 75px;
  }

  #hero .hero-p {
    font-size: 25px;
  }

  #hero .divider {
    margin-bottom: 80px;
  }

  #hero .left-img img,
  #hero .hero-third-block .second-image .hero-right-img {
    height: 400px;
  }

}

@media (min-width: 1800px) {
  #hero h1 {
    padding-left: 50px;
    font-size: 135px;
  }

  #hero .hero-sc-title {
    padding-right: 50px;
  }

  #hero .left-img img,
  #hero .hero-third-block .second-image .hero-right-img {
    height: 700px;
  }
}

@media (min-width: 2560px) {
  #hero h1 {
    padding-left: 80px;
  }

  #hero .hero-sc-title {
    padding-right: 80px;
  }

  #hero .hero-p {
    font-size: 40px;
  }
}

@media (max-width: 992px) {

  #hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }

  #hero h1 {
    font-size: 60px;
  }

  #hero .hero-p {
    font-size: 18px;
    padding: 30px 0 0 0;
  }

  #hero .divider {
    margin-bottom: 60px;
  }

  #hero .sc-divider {
    bottom: 0px;
  }

  #hero .left-img img,
  #hero .hero-third-block .second-image .hero-right-img {
    height: 400px;
  }
}

@media (max-width: 768px) {
  #hero {
    position: relative;
  }

  #hero .text {
    position: absolute;
    top: 25%;
    z-index: 1;
  }

  #hero .hero-p {
    color: rgb(43, 43, 43) !important;
    font-size: 25px !important;
    font-weight: 500;
  }

  #hero .text .hero-sc-title {
    padding: 0 140px 0 0;
    font-size: 70px;
  }

  #hero .text .main-title {
    padding: 0 0 0 140px;
    font-size: 70px;
  }

  #hero .hero-third-block .second-image .hero-right-img {
    height: 80vh;
    object-position: center;
  }
}

@media (max-width: 580px) {
  #hero .text .hero-sc-title {
    padding: 0 70px 0 0;
  }

  #hero .text .main-title {
    padding: 0 0 0 70px;
  }
}

@media (max-width: 480px) {
  #hero .text .hero-sc-title {
    padding: 0 30px 0 0;
    font-size: 65px;
  }

  #hero .text .main-title {
    padding: 0 0 0 30px;
    font-size: 65px;
  }

  #hero .hero-p {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  #hero .hero-third-block .second-image .hero-right-img {
    height: 60vh;
  }
}

@media (max-width: 375px) {
  #hero .text .hero-sc-title {
    padding: 0 20px 0 0;
    font-size: 55px;
  }

  #hero .text .main-title {
    padding: 0 0 0 20px;
    font-size: 55px;
  }

  #hero .hero-p {
    font-size: 18px;
  }
}


#hero p {
  font-size: 28px;
  font-weight: 500;
  padding: 50px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lora', serif !important;
  color: rgb(85, 85, 85);
}

#hero .hero-third-block {
  position: relative !important;
  padding: 0;
}

#hero .sc-divider {
  position: absolute;
  width: 53px;
  height: 2px;
  background-color: black;
  bottom: 15px;
  left: -26.5px;
}

#hero .hero-third-block .hero-right-img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 563px;
  background-color: #f0f0f0;
  transition: opacity 0.3s ease-in;
  /* Hide image initially */
  opacity: 0;
  display: block;
}

#hero .hero-third-block img.loaded {
  opacity: 1;
  /* Show image once loaded */
}

#hero .box .box-img {
  object-fit: cover;
  object-position: center;
  height: 220px;
  width: 250px;
  max-width: 250px;
}

.box .box-text {
  padding: 20px 10px 0 20px;

}

.box h2 {
  font-size: 30px;
  margin-bottom: 16px;
}

.box p {
  font-size: 14px !important;
  padding: 0 !important;
  text-transform: none;
  text-align: left !important;
  color: #7A7A7A !important;
  font-weight: 400 !important;
  letter-spacing: 1.2px;
  font-family: 'Roboto', sans-serif !important;
}

#about {
  background-image: url(./assets/images/aboutusbg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 522px;
}

.about-content {
  background-color: rgb(255, 255, 255);
  margin-top: -300px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 8rem 6rem 2rem 6rem;
}

@media (min-width: 1800px) {
  #about {
    min-height: 622px;
  }

  .about-content p {
    font-size: 25px !important;
  }
}

@media (max-width: 992px) {
  .about-content {
    padding: 4rem 4rem 2rem 4rem;
  }

  .about-content .about-p {
    line-height: normal;
  }
}

@media (max-width: 768px) {
  .about-content {
    padding: 2rem 2rem 2rem 2rem;
    margin-top: -350px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 580px) {
  .about-content {
    margin-top: -350px;
  }
}

@media (max-width: 480px) {
  .about-content {
    margin-top: -380px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .about-content p {
    font-size: 14px !important;
  }


}

@media (max-width: 375px) {
  .about-content {
    padding: 1rem 1rem 1rem 1rem;
    margin-top: -400px;
  }

  section .btn {
    padding: 11px 15px !important;
    font-size: 13px !important;
  }
}

.about-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: #7A7A7A;
  margin-bottom: 20px;
}

section .btn {
  background-color: black;
  color: white;
  font-weight: bolder;
  padding: 14px 19px;
  font-size: 16px;
  letter-spacing: 2px;
  transition: 0.5s ease;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0;
  text-transform: uppercase;
}

section .btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

#services {
  padding-left: 30px;
  padding-right: 30px;
}

.service-box {
  margin-right: 60px;
}

#services .content button {
  width: 35px;
  height: 35px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  border-radius: 50%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: 0.4s ease;
}

#services .content button i {
  transform: rotate(-35deg);
}

#services .content button:hover {
  opacity: 0.8;
}

#services img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#services .service-img {
  height: 280px;
  object-fit: cover;
}

#services .service-img-first {
  padding-left: 4rem;
}

.service-box h2 {
  font-size: 30px;
  text-align: right;
}

.service-box p {
  font-size: 15px;
  font-weight: bolder;
  width: 60%;
  text-align: right;
  margin-left: auto;
  margin-bottom: 20px;
}

.third-service-box {
  margin-right: 0 !important;
  width: calc(25% - 60px) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.third-service-box .section-title {
  transform: rotate(90deg);
  margin-top: 200px;
  width: 150% !important;
}

@media (min-width: 1499px) {
  .third-service-box .section-title {
    margin-top: 300px;
  }
}

@media (min-width: 1800px) {
  #services .content button {
    margin-bottom: 100px;
  }

  .third-service-img {
    height: 1200px !important;
  }

  #services .service-img {
    height: 320px;

  }

  .third-service-box .section-title {
    margin-top: 420px;
  }
}


@media (min-width: 2560px) {
  .third-service-img {
    height: 1250px !important;
  }

  #services .service-img {
    height: 380px;

  }

  .third-service-box .section-title {
    margin-top: 480px;
  }
}

.third-service-box .content {
  padding-left: 25px;
}

.third-service-box h2 {
  text-align: left;
}

.third-service-box p {
  width: 80%;
  text-align: left;
  margin-left: 0;
}

@media (max-width: 1200px) {
  .third-service-box {
    width: calc(50% - 60px) !important;
    margin-bottom: 20px;
  }

  .third-service-box .section-title {
    margin-top: 350px;
    width: 150% !important;
    font-size: 55px;
  }

  .third-service-box .content {
    padding-left: 0;
  }

  .third-service-box p {
    margin-left: 0;
  }

  #services .service-img-first {
    padding-left: 0;
  }
}

@media (max-width: 767.99px) {
  .third-service-box {
    width: 100% !important;
    margin-bottom: 20px;
  }

  #services {
    padding-left: 0;
    padding-right: 0;
  }

  .service-box {
    margin-right: 0 !important;
  }

  .service-box h2,
  .service-box p,
  .service-box button {
    margin-right: 30px;
  }

  #services .service-img {
    height: 320px;
    object-fit: cover !important;
  }

  #services .section-title {
    margin-left: 30px;
  }

  .third-service-box .section-title {
    display: none;
  }

  .third-service-box h2 {
    text-align: right;
  }

  .third-service-box p {
    text-align: right;
    margin-left: auto;
    width: 60%;
  }
}

.works .section-title {
  margin-left: 100px;
}

.works .btn {
  margin-right: 100px;
  padding: 14px 28px;
  text-transform: uppercase;

  /*  
  padding: 14px 19px;
  font-size: 16px;
  */
}

.works .filter {
  margin: 40px 0 40px 0;
}

.works .filter-btns {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  padding: 0;
  margin: 0 20px;
  text-transform: uppercase;
}

@media (min-width: 2300px) {
  .works .filter-btns {
    font-size: 22px;
  }
}

.works .filter-btns.bold {
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  padding: 12px;
  transition: all 0.5s ease;
  border-radius: 5px;
  color: white;
}

.item {
  width: 20%;
  max-width: 20%;
  height: 500px;
  position: relative;
  transition: 1s ease-in-out;
}

.item.loading {
  width: 20%;
  max-width: 20%;
  height: 500px;
  position: relative;
  background: #e0e0e0;
  /* Light gray background as placeholder */
  border-radius: 8px;
  margin: 10px;
  /* Optional: Rounded corners for a more realistic placeholder */
  animation: pulse 1.5s infinite ease-in-out;
  /* Animation for a loading effect */
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }

  50% {
    background-color: #c0c0c0;
  }

  100% {
    background-color: #e0e0e0;
  }
}

.item:hover {
  background-position: right !important;
}

.item .plus {
  position: absolute;
  width: 90px;
  height: 90px;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  background-color: black;
  opacity: 0.9;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.item .plus:hover {
  background-color: white;
  color: black;
}

.item .work-info {
  position: absolute;
  width: 250px;
  height: 90px;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  bottom: 90px;
  background-color: black;
  color: white;
  display: none !important;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: 0.5s ease;
  cursor: pointer;
}

.item .work-info:hover {
  background-color: white;
  color: black;
}

.item:hover .plus,
.item:hover .work-info {
  display: flex !important;
}

.item .work-info h3 {
  font-size: 16px;
  padding: 0;
  margin: 0 0 5px 0;
  font-family: 'Roboto', sans-serif;
}

.item .work-info .work-name {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1200px) {
  .item {
    width: 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .item.loading {
    width: calc(33.33333333333333% - 20px);
    max-width: calc(33.33333333333333% - 20px);
  }
}

@media (max-width: 768px) {
  .works .filter-btns {
    margin: 0 0;
  }

  .works .section-title {
    margin-left: 25px;
  }

  .works .btn {
    margin-right: 25px;
    /*padding: 14px 28px;*/
  }

  .works .filter {
    justify-content: space-evenly !important;
  }

  .item {
    width: 50%;
    max-width: 50%;
  }

  .item .work-info {
    width: 300px;
    bottom: 118px;
  }

  .item.loading {
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .works .btn {
    margin-right: 0;
  }

  .works .filter {
    margin: 0 0 20px 0;
  }

  .works .filter-btns {
    margin: 0 10px;
    font-size: 14px;
  }

  .works .filter-btns.bold {
    padding: 8px;
  }

  .works .filter {
    justify-content: center !important;
  }

  .item {
    height: 300px;
  }

  .item .work-info {
    width: 210px;
    bottom: 83px;
    height: 60px;
  }

  .item .plus {
    width: 60px;
    height: 60px;
    font-size: 20px;
    top: 10px;
  }

  .item .work-info h3 {
    font-size: 12px;
  }

  .item .work-info .work-name {
    font-size: 14px;
  }


  .item.loading {
    height: 300px;
  }
}

@media (max-width: 440px) {

  .works .filter-btns {
    margin: 0 8px;
    font-size: 12px;
  }

  .works .filter-btns.bold {
    padding: 6px;
  }

}

@media (max-width: 375px) {
  .works .filter-btns {
    margin: 0 6px;
    font-size: 10px;
  }
}

#contact {
  margin: 4rem 0 0 0 !important;
  padding: 0 !important
}

#contact .first-row {
  background-color: #000000;
  align-items: center;
  justify-content: space-between;
  padding: 80px 80px;
}

#contact .first-row .contact-left {
  width: fit-content;
}

#contact .first-row .contact-right {
  width: fit-content;
}

#contact .first-row h2 {
  color: white !important;
  font-weight: 700;
  font-size: 30px;
}

#contact .first-row p {
  color: white !important;
  font-size: 14px;
}

#contact .first-row .form {
  display: flex;
  align-items: center;
  justify-content: end;
}

#contact .first-row .form input {
  padding: 15px 150px 15px 15px;
  background-color: rgb(31, 31, 31);
  color: white !important;
  border-radius: 8px;
  border: none;
}

@media (max-width: 480px) {
  #contact .first-row {
    padding: 80px 30px;
  }

  #contact .first-row h2 {
    font-size: 26px;
  }

  #contact .first-row .form input {
    padding: 15px 60px 15px 15px;
  }

  #contact .first-row button {
    margin: 0 0 0 -60px !important;
  }
}

#contact .first-row .form input::placeholder {
  color: white;
  font-size: 14px;
  opacity: 0.6;
}

#contact .first-row button {
  background-color: transparent;
  color: white;
  font-size: 22px;
  opacity: 0.6;
  border: none;
  padding: 0;
  margin: 0 0 0 -73px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  z-index: 1;
}

#contact .second-row {
  border-bottom: 1px solid #b1b1b1;
  padding: 80px 25px;
  font-family: 'Roboto', sans-serif !important;
}

#contact .second-row .text img {
  width: 80%;
  max-width: 80%;
}

#contact .second-row h3 {
  margin-bottom: 30px;
  font-weight: 700;
  color: black;
}

#contact .second-row h3 i {
  transform: rotate(-45deg);
  display: inline-block;
}

#contact .second-row ul {
  list-style: none;
  padding: 0;
}

#contact .second-row ul li {
  margin-bottom: 8px;
  color: #7A7A7A;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

#contact .second-row ul li strong {
  color: #383838;
}

#contact .second-row p {
  font-weight: 500;
}

#contact .third-row .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact .third-row {
  padding: 30px 15px;
}


#contact .third-row .content .copyright p {
  margin: 0;
}

#contact .third-row .content .social a {
  display: inline-block;
  color: #7A7A7A;
  text-decoration: none;
  margin-right: 20px;
}

.social a:last-child {
  margin-right: 0 !important;
}

.social i {
  font-size: 20px;
  cursor: pointer;
}

.social a,
.social i {
  padding: 0;
  margin: 0;
  border: none;
}

@media (max-width: 830px) {
  #contact .second-row h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  #contact .second-row ul li {
    margin-bottom: 7px;
    font-size: 14px;
  }

  #contact .second-row p {
    font-size: 14px;
  }
}

@media (max-width: 675px) {
  #contact .second-row h3 {
    margin-bottom: 12px;
    font-size: 16px;
  }

  #contact .second-row ul li {
    margin-bottom: 6px;
    font-size: 12px;
  }

  #contact .second-row p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  #contact .second-row h3 {
    font-size: 18px;
  }

  #contact .second-row ul li {
    margin-bottom: 10px;
    font-size: 16px;
  }

  #contact .second-row p {
    font-size: 16px;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-logo .text {
    display: flex;
    justify-content: center;
  }

  #contact .third-row {
    padding: 15px 15px;
  }

  #contact .third-row .content .copyright p {
    font-size: 14px;
  }

  #contact .third-row .content .social a {
    margin-right: 10px;
  }

  .social i {
    font-size: 16px;
  }

}

@media (max-width: 375px) {
  #contact .third-row .content .copyright p {
    font-size: 12px;
  }

  .social i {
    font-size: 14px;
  }
}

#description {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#description img {
  width: 100%;
  max-width: 100%;
  height: 650px;
  object-fit: cover;
}


#description .desc h1 {
  font-size: 60px;
  padding: 50px;
}

#description .desc p {
  font-size: 20px;
  width: 80%;
  text-align: center;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

#description .details {
  margin-top: 80px !important;
  padding: 0 0 0 40px !important;
}

#description .details ul li {
  margin-bottom: 40px;
  font-size: 20px;
}

#description .details .first-list {
  height: 100%;
  padding: 0;
}

#description .details .first-list li {
  font-weight: 700;
  padding-left: 0;
}

#description .details .second-list {
  border-left: 1px solid #7A7A7A;
  height: 100%;
}

#description .carousel {
  width: 100%;
}

/* Custom colors for the navigation buttons */
#description .carousel-control-prev-icon,
#description .carousel-control-next-icon {
  background-color: black !important;

  /* Change this to your desired color */
  border-radius: 50%;
  /* Optional: Make the icon background circular */
  width: 35px;
  /* Adjust the width if needed */
  height: 35px;
  z-index: 1;
  background-size: 60%;
  /*
  /* Adjust the height if needed */
}

#description .carousel .carousel-item img {
  width: 100%;
  height: 500px;
  /* Adjust height as needed */
  object-fit: cover;
  /* Ensures the image covers the container without distortion */
}

@media (min-width: 1440px) {
  #description img {
    height: 800px;
  }
}

@media (min-width: 2560px) {
  #description img {
    height: 1300px;
  }
}

@media (min-width: 2300px) {
  #description .carousel .carousel-item img {
    height: 700px;
  }

  #description .details ul li {
    font-size: 30px;
  }

  #description .desc p {
    width: 60%;
    font-size: 30px;
  }
}

#similar .item {
  background-size: cover;
  width: 20%;
  max-width: 20%;
  height: 300px;
  position: relative;
  background-position: left;
  transition: 1s ease-in-out;
}

#similar .item:hover {
  background-position: right !important;
}

#similar .item .work-info {
  position: absolute;
  width: 200px;
  height: 70px;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  bottom: 70px;
  background-color: black;
  color: white;
  display: none !important;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: 0.5s ease;
  cursor: pointer;
}

#similar .item .work-info:hover {
  background-color: white;
  color: black;
}

#similar .item:hover .work-info {
  display: flex !important;
}

#similar .item .plus {
  position: absolute;
  width: 70px;
  height: 70px;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  background-color: black;
  opacity: 0.9;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  cursor: pointer;
}

#similar .item .plus:hover {
  background-color: white;
  color: black;
}

#similar .item:hover .plus,
#similar .item:hover .work-info {
  display: flex !important;
}

#similar .item .work-info h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 5px 0;
  font-family: 'Roboto', sans-serif;
}

#similar .item .work-info .work-name {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

#similar {
  padding-left: 50px;
}

.img-container {
  position: relative;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
}

.back-button i {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button:hover {
  background-color: #f0f0f0;
}

#wt-we-do .section-title {
  margin-left: 2rem;
  margin-bottom: 3rem;
}

#wt-we-do .catg-desc {
  position: relative;
  padding: 0;
}

#wt-we-do .loading-catg-img {
  width: 100%;
  height: 500px;
  background-color: #dbdbdb;
}

#wt-we-do .catg-desc img {
  width: 100%;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}

#wt-we-do .catg-desc .catg-text {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 2rem;
  width: 65%;
  z-index: 1;
}

@media (min-width: 1800px) {

  #wt-we-do .catg-desc img {
    height: 600px;
  }

  #wt-we-do .thumbs img {
    width: 75% !important;
    max-width: 75% !important;
    height: 150px !important;
  }

  #wt-we-do .thumbs div {
    width: 75%;
    max-width: 75%;
    height: 150px;
  }

  #wt-we-do .catg-desc .catg-text {
    width: 55%;
  }

  #wt-we-do .catg-desc .catg-text p {
    width: 80% !important;
    font-size: 22px;
  }
}

#wt-we-do .catg-desc .catg-text p {
  width: 70%;
  text-align: justify;
}

#wt-we-do .catg-desc .catg-text .btn {
  font-size: 14px;
}


#wt-we-do .active {
  opacity: 0.3;
}

#wt-we-do .thumbs {
  padding-right: 0;
}

#wt-we-do .thumbs img {
  width: 70%;
  max-width: 70%;
  height: 110px;
  object-fit: cover;
  cursor: pointer;
}

#wt-we-do .thumbs div {
  width: 70%;
  max-width: 70%;
  height: 110px;
  background-color: #dbdbdb;
}

#wt-we-do .thumbs img:hover {
  opacity: 0.4;
}

#wt-we-do .catgs {
  padding: 1rem 0 1rem 2rem;
  background-color: #000000;
}

#wt-we-do .catgs h4 {
  padding: 12.5px 0;
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid white;
}

#wt-we-do .catgs .catg-title-loading {
  padding: 12.5px 0;
  cursor: pointer;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

#wt-we-do .catgs h4 i {
  display: flex;
  align-items: center;
  font-size: 25px;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  #wt-we-do .catg-desc .catg-text {
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    width: 60%;
  }

  #wt-we-do .catg-desc .catg-text p {
    width: 95%;
    text-align: initial;
  }

  #wt-we-do .thumbs img {
    width: 90%;
    max-width: 90%;
  }
}

@media (max-width: 580px) {
  #wt-we-do .catg-desc .catg-text {
    padding: 1rem 0.5rem 1rem 1.5rem;
    width: 70%;
  }
}

@media (max-width: 480px) {
  #wt-we-do .catgs h4 {
    padding: 11.5px 0;
    font-size: 20px;
  }

  #wt-we-do .catgs .catg-title-loading {
    padding: 11.5px 0;
    font-size: 20px;
  }

  #wt-we-do .catgs h4 i {
    font-size: 20px;
  }

  #wt-we-do .catg-desc .catg-text p {
    font-size: 14px;
  }
}

#productsSection .section-desc {
  position: relative;
}

#productsSection .section-desc .back-button {
  position: absolute;
  top: -65px;
  left: 30px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
}

#productsSection .section-desc .back-button:hover {
  background-color: #f0f0f0;
}

#productsSection .section-desc img {
  width: 100%;
  max-width: 100%;
  height: 450px;
  object-fit: cover;
}

#productsSection .section-desc h1 {
  font-size: 85px;
  margin-left: 30px;
}

#productsSection .section-desc h1:after {
  width: 150px;
  height: 3px;
}

#productsSection .section-desc p {
  font-size: 25px;
  padding: 30px;
  font-style: italic;
}

#productsSection .items-row {
  margin-top: 120px;
  padding-left: 45px;
}

#productsSection .second-title {
  padding-top: 20px;
  transform: rotate(90deg);
}

@media (max-width: 992px) {
  #productsSection .section-desc h1 {
    font-size: 65px;
  }

  #productsSection .section-desc h1:after {
    width: 100px;
    height: 2px;
  }

  #productsSection .section-desc p {
    font-size: 23px;
    padding: 15px 30px 30px 30px;
  }

  #productsSection .section-desc img {
    height: 400px;
  }
}

@media (max-width: 768px) {
  #productsSection .section-desc h1 {
    font-size: 45px;
  }

  #productsSection .section-desc h1:after {
    width: 80px;
  }

  #productsSection .section-desc p {
    font-size: 20px;
    padding: 10px 10px 0 30px;
  }

  #productsSection .section-desc img {
    height: 350px;
  }

  #productsSection .items-row {
    margin-top: 100px;
  }
}

@media (max-width: 425px) {
  #productsSection .section-desc h1 {
    margin-left: 15px;
    margin-bottom: 1.5rem;
  }

  #productsSection .section-desc .back-button {
    top: -70px;
    left: 25px;
    width: 36px;
    height: 36px;
  }

  #productsSection .section-desc p {
    font-size: 16px;
    padding: 0px 5px 0 15px;
  }

  #productsSection .section-desc img {
    height: 300px;
  }

  #productsSection .items-row {
    margin-top: 80px;
  }
}


#allProducts .all-prds-relative {
  position: relative;
}

#allProducts .back-button {
  top: -65px;
  left: 30px;
}

#header {
  margin: 0 !important;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 0;
}

#header .header-loading {
  padding: 25px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container img {
  width: 12%;
}

@media (max-width: 768px) {
  .header-container img {
    width: 16%;
  }
}

@media (max-width: 580px) {
  .header-container img {
    width: 21%;
  }
}

@media (max-width: 475px) {
  .header-container img {
    width: 24%;
  }
}

@media (max-width: 376px) {
  .header-container img {
    width: 27%;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.nav {
  display: flex;
  gap: 10px;
}

#header .nav-link {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

@media (min-width: 1800px) {
  #header .nav-link {
    font-size: 28px;
  }
}

@media (min-width: 2300px) {
  #header .nav-link {
    font-size: 33px;
  }

  .header-container img {
    width: 10%;
  }
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  min-width: 200px;
}

.dropdown-content .dropdown-link {
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.dropdown-content .dropdown-link i {
  font-size: 22px;
  transform: rotate(-45deg);
}

.dropdown-content .dropdown-link:hover {
  background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#contactUs {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#contactUs .contactus-title {
  text-align: center;
  padding: 60px 0;
}

#contactUs .contactus-title h1 {
  font-size: 75px;
}

#contactUs .contactus-title p {
  font-size: 18px;
  padding: 1rem 18rem 0 18rem;
}

@media (min-width: 1500px) {
  #contactUs .contactus-title p {
    font-size: 22px;
    padding: 1rem 22rem 0 22rem;
  }

  #contactUs .form-control::placeholder {
    font-size: 22px !important;
  }

}

@media (min-width: 1800px) {
  #contactUs .contactus-title {
    text-align: center;
    padding: 90px 0;
  }

  #contactUs .contactus-title h1 {
    font-size: 85px;
  }

  #contactUs .contactus-title p {
    font-size: 27px;
    padding: 1rem 25rem 0 25rem;
  }
}

@media (min-width: 2300px) {
  #contactUs .contactus-title p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #contactUs .info {
    width: 700px;
  }
}

#contactUs .form-control {
  width: 95%;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  padding: 18px;
  margin-bottom: 20px;
}

#contactUs textarea {
  border-radius: 0 !important;
  border: 2px solid black !important;
  margin-top: 35px;
}

#contactUs .form-control:focus {
  box-shadow: none;
  outline: none;
}

#contactUs .form-control::placeholder {
  color: #9b9b9b;
  font-size: 16px;
}

#contactUs .submit-btn {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 55px;
}

#contactUs .submit-btn:hover {
  opacity: 0.7;
}

#contactUs .newsletter {
  padding: 2rem 1.5rem;
  background-color: black;
  border-radius: 20px;
}

#contactUs .newsletter h3 {
  color: white;
  font-size: 30px;
}

#contactUs .newsletter p {
  padding: 1rem 2rem 2rem 0;
}

#contactUs .newsletter input {
  background-color: white;
  border: none;
  color: black;
  width: 100%;
  border-radius: 50px;
}

#contactUs .newsletter button {
  width: 100%;
  border-radius: 50px;
  padding: 18px;
  background-color: rgb(22, 22, 22);
  border: none;
  color: white;
}

#contactUs .newsletter button:hover {
  opacity: 0.7;
}

#contactUs .infos {
  margin-top: 90px;
}

#contactUs .info {
  box-shadow: 0 3px 8px #adadad;
  border-radius: 12px;
  padding: 15px 20px;
}

#contactUs .info p:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

#contactUs .info p {
  color: #a1a1a1 !important;
}

#contactUs .info i {
  display: inline-block;
  font-size: 30px;
  color: #a1a1a1;
}

@media (max-width: 992px) {
  #contactUs .contactus-title p {
    padding: 1rem 10rem 0 10rem;
  }

  #contactUs .form-container .form-control {
    width: 100%;
  }

  #contactUs .info {
    padding: 10px 10px 0 10px;
  }

  #contactUs .info p:nth-of-type(1) {
    gap: 7px;
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  #contactUs .info p {
    font-size: 16px;
  }

  #contactUs .info i {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #contactUs .contactus-title p {
    padding: 1rem 5rem 0 5rem;
  }

  #contactUs .contactus-title h1 {
    font-size: 60px;
  }

  #contactUs .info-container {
    flex-direction: column !important;
    align-items: center;
    gap: 25px;
  }

  #contactUs .infos .info {
    margin-right: 0 !important;
  }
}

@media (max-width: 580px) {
  #contactUs .contactus-title {
    padding: 40px 0;
  }

  #contactUs .contactus-title h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  #contactUs .contactus-title p {
    font-size: 14px;
  }

  #contactUs .form-control {
    padding: 12px;
    margin-bottom: 15px;
  }

  #contactUs .submit-btn {
    padding: 12px 40px;
    font-size: 14px;
  }

  #contactUs .form-control::placeholder {
    font-size: 14px;
  }

  #contactUs .newsletter {
    padding: 1.5rem 1rem;
  }

  #contactUs .newsletter h3 {
    font-size: 26px;
  }

  #contactUs .newsletter p {
    padding: 0.5rem 1rem 1rem 0;
    font-size: 14px;
  }

  #contactUs .newsletter button {
    padding: 12px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {

  #contactUs .contactus-title {
    padding: 30px 0;
  }

  #contactUs .contactus-title h1 {
    font-size: 40px;
  }

  #contactUs .contactus-title p {
    padding: 1rem 2rem 0 2rem;
  }

  #contactUs .form-control {
    padding: 10px;
    margin-bottom: 12px;
  }

  #contactUs textarea {
    margin-top: 25px;
    height: 80px;
  }

  #contactUs .submit-btn {
    padding: 12px 40px;
    font-size: 12px;
  }

  #contactUs .form-control::placeholder {
    font-size: 12px;
  }

  #contactUs .newsletter h3 {
    font-size: 24px;
  }

  #contactUs .newsletter p {
    padding: 0.25rem 1rem 0.5rem 0;
    font-size: 12px;
  }

  #contactUs .newsletter button {
    padding: 12px;
    font-size: 12px;
  }
}

#aboutus {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#aboutus .ourstory,
#aboutus .ourprocess {
  width: 100% !important;
}

#aboutus .aboutus-title {
  text-align: center;
  padding: 60px 0;
}

#aboutus .aboutus-title h1 {
  font-size: 75px;
}

@media (min-width: 1500px) {
  #aboutus .ourstory p {
    font-size: 20px !important;
    line-height: 2.5rem !important;
  }

  #aboutus .ourvision ul li {
    font-size: 22px !important;
  }

  #aboutus .ourprocess p {
    line-height: 2.5rem !important;
    font-size: 20px !important;
  }
}

@media (min-width: 1800px) {
  #aboutus .aboutus-title {
    text-align: center;
    padding: 90px 0;
  }

  #aboutus .aboutus-title h1 {
    font-size: 85px;
  }

  #aboutus .aboutus-title p {
    font-size: 27px;
    padding: 1rem 25rem 0 25rem;
  }

  #aboutus .ourprocess h2,
  #aboutus .ourstory h2,
  #aboutus .ourvision h2 {
    font-size: 45px !important;
    margin-bottom: 1.5rem;
  }

  #aboutus .ourstory p {
    font-size: 28px !important;
    line-height: 3rem !important;
  }

  #aboutus .ourvision ul li {
    font-size: 28px !important;
    padding: 45px 0 !important;
  }

  #aboutus .ourprocess p {
    line-height: 3rem !important;
    font-size: 28px !important;
  }

  #aboutus .ourprocess-img img {
    max-height: 850px !important;
  }
}

@media (min-width: 2300px) {

  #aboutus .ourprocess h2,
  #aboutus .ourstory h2,
  #aboutus .ourvision h2 {
    font-size: 55px !important;
  }

  #aboutus .ourstory p {
    font-size: 32px !important;
    line-height: 3.2rem !important;
  }

  #aboutus .ourvision ul li {
    font-size: 32px !important;
  }

  #aboutus .ourprocess p {
    line-height: 3.2rem !important;
    font-size: 32px !important;
  }
}

#aboutus .ourstory-img img {
  width: 100%;
  max-width: 100%;
}

#aboutus .ourstory {
  padding: 0 2rem 2rem 2rem;
}

#aboutus .ourstory h2 {
  font-size: 35px;
}

#aboutus .ourstory h2 i {
  transform: rotate(-45deg);
  display: inline-flex;
  align-items: center;
}

#aboutus .ourstory p {
  line-height: 2.2rem;
  font-size: 18px;
  padding: 20px 0 0 0;
}

#aboutus .ourvision-img img {
  width: 100%;
  max-width: 100%;
}

#aboutus .ourvision {
  padding: 2rem;
}

#aboutus .ourvision h2 {
  font-size: 35px;
}

#aboutus .ourvision h2 i {
  transform: rotate(-45deg);
  display: inline-flex;
  align-items: center;
}

#aboutus .ourvision ul {
  list-style: none;
  padding: 0;
}

#aboutus .ourvision ul li {
  border-bottom: 1px solid #7A7A7A;
  font-size: 20px;
  padding: 23px 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

#aboutus .ourprocess {
  text-align: center;
  padding-top: 100px;
}

#aboutus .ourprocess h2 {
  font-size: 35px;
}

#aboutus .ourprocess h2 i {
  transform: rotate(-45deg);
  display: inline-flex;
  align-items: center;
}

#aboutus .ourprocess p {
  line-height: 2rem;
  font-size: 18px;
  padding: 20px 200px 20px 200px;
  text-align: center;
}

#aboutus .ourprocess-img img {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 12px;
  display: block;
  max-height: 550px;
  object-fit: cover;
}

@media (max-width: 1300px) {
  #aboutus .ourstory p {
    line-height: 1.8rem;
    padding: 18px 0 0 0;
  }

  #aboutus .ourvision ul li {
    padding: 20px 0;
  }

  #aboutus .ourprocess p {
    line-height: 1.8rem;
    padding: 18px 200px 18px 200px;
  }
}

@media (max-width: 1200px) {
  #aboutus .ourstory p {
    line-height: 1.8rem;
    padding: 18px 55px 0 0;
    margin-bottom: 0 !important;
  }

  #aboutus .ourstory-img,
  #aboutus .ourvision-img {
    width: 75%;
    max-width: 75%;
    margin: 0 auto;
  }

  #aboutus .ourstory-img img,
  #aboutus .ourvision-img img {
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
  }

  #aboutus .ourprocess {
    padding-top: 50px;
  }
}

@media (max-width: 992px) {
  #aboutus .ourstory p {
    text-align: center;
    padding: 18px 0 0 0;
  }

  #aboutus .ourstory h2,
  #aboutus .ourvision h2 {
    text-align: center;
  }

  #aboutus .ourprocess p {
    padding: 20px 30px 20px 30px;
  }
}

@media (max-width: 768px) {
  #aboutus .ourstory p {
    font-size: 16px;
  }

  #aboutus .ourvision ul li {
    font-size: 16px;
  }

  #aboutus .ourstory-img,
  #aboutus .ourvision-img {
    width: 100%;
    max-width: 100%;
  }

  #aboutus .ourstory-img img,
  #aboutus .ourvision-img img {
    height: 400px;
    border-radius: 0;
  }

  #aboutus .ourprocess-img img {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    height: 400px;

  }

  #aboutus .ourprocess p {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  #aboutus .aboutus-title {
    padding: 40px 0;
  }
}

@media (max-width: 425px) {
  #aboutus .aboutus-title {
    padding: 30px 0;
  }

  #aboutus .ourstory,
  #aboutus .ourvision {
    padding-left: 10px;
    padding-right: 10px;
  }

  #aboutus .ourstory p {
    font-size: 14px;
    line-height: 1.5rem;
  }

  #aboutus .ourvision ul li {
    font-size: 14px;
  }

  #aboutus .ourstory-img img,
  #aboutus .ourvision-img img {
    height: 300px;
  }

  #aboutus .ourprocess-img img {
    height: 300px;
  }

  #aboutus .ourprocess p {
    font-size: 14px;
    line-height: 1.5rem;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 375px) {
  #aboutus .aboutus-title h1 {
    font-size: 60px;
  }
}

#whatweoffer {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#whatweoffer .services-title {
  text-align: center;
  padding: 60px 0;
}

#whatweoffer .services-title h1 {
  font-size: 75px;
}

#whatweoffer .services-title p {
  font-size: 18px;
  padding: 1rem 18rem 0 18rem;
  text-align: center;
}

#whatweoffer .row {
  position: relative;
}

#whatweoffer h3 {
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 35px;
  position: absolute;
  margin-top: 60px;
  left: 30px;
  padding: 20px 80px 80px 20px;
  top: 0;
  font-weight: 600;
  z-index: 1;
  border: 1px solid black;
}

#whatweoffer img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  border-radius: 12px;
}

#whatweoffer p {
  font-size: 17px;
  line-height: 1.5rem;
  text-align: start;
}

@media (min-width: 1500px) {
  #whatweoffer .services-title p {
    font-size: 22px;
    padding: 1rem 22rem 0 22rem;
  }

  #whatweoffer p {
    font-size: 20px;
    line-height: 2rem;
  }
}

@media (min-width: 1800px) {
  #whatweoffer .services-title {
    text-align: center;
    padding: 90px 0;
  }

  #whatweoffer .services-title h1 {
    font-size: 85px;
  }

  #whatweoffer .services-title p {
    font-size: 27px;
    padding: 1rem 25rem 0 25rem;
  }

  #whatweoffer h3 {
    font-size: 45px;
    padding: 30px 90px 90px 30px;
  }

  #whatweoffer p {
    font-size: 25px;
    line-height: 2.5rem;
  }
}

@media (min-width: 2300px) {
  #whatweoffer .services-title p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #whatweoffer h3 {
    font-size: 55px;
    padding: 40px 100px 100px 40px;
  }

  #whatweoffer p {
    font-size: 30px;
    line-height: 3rem;
    padding-top: 25px;
  }
}

@media (max-width: 1200px) {
  #whatweoffer p {
    font-size: 18px;
    line-height: 1.4rem;
  }

  #whatweoffer h3 {
    font-size: 35px;
    padding: 30px 60px 60px 30px;
  }
}

@media (max-width: 992px) {
  #whatweoffer .services-title p {
    padding: 1rem 10rem 0 10rem;
  }

  #whatweoffer p {
    font-size: 16px;
    line-height: 1.2rem;
  }

  #whatweoffer h3 {
    font-size: 23px;
    padding: 20px 20px 30px 20px;
  }
}

@media (max-width: 767.98px) {

  #whatweoffer .services-title h1 {
    font-size: 60px;
  }

  #whatweoffer .services-title p {
    padding: 1rem 5rem 0 5rem;
  }

  #whatweoffer p {
    line-height: 1.4rem;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  #whatweoffer h3 {
    font-size: 28px;
    padding: 28px 28px 38px 28px;
  }

  #whatweoffer .service-img {
    max-width: 70%;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 580px) {
  #whatweoffer .services-title {
    padding: 40px 0;
  }

  #whatweoffer .services-title h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  #whatweoffer .services-title p {
    font-size: 14px;
  }

  #whatweoffer p {
    font-size: 14px;
    line-height: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  #whatweoffer h3 {
    font-size: 20px;
    margin-top: 30px;
    padding: 15px 15px 25px 15px;
  }
}

@media (max-width: 425px) {
  #whatweoffer .services-title {
    padding: 30px 0;
  }

  #whatweoffer .services-title h1 {
    font-size: 40px;
  }

  #whatweoffer .service-img {
    max-width: 100%;
    width: 100%;
  }

  #whatweoffer .service-img img {
    height: 200px;
    border-radius: 0;
  }
}

@media (max-width: 376px) {
  #whatweoffer h3 {
    font-size: 18px;
    padding: 15px 10px 20px 10px;
  }
}


#values {
  background-color: #000000;
  padding: 4rem 0 !important;
}

#values .section-title {
  margin-left: 2rem;
  margin-bottom: 3rem;
  color: white !important;
}

#values .section-title:after {
  background-color: white !important;
}

#values h4 {
  color: white;
  width: fit-content;
}

#values .value-icon {
  margin-bottom: 15px;
  transition: fill 0.3s ease;
}


.icon-quality {
  fill: #a8a800;
}


.icon-trust {
  fill: #b36b00;
}


.icon-eco {
  fill: #4b8f4b;
}


.icon-global {
  fill: #5a7da0;
}


@media (max-width: 992px) {
  #values h4 {
    font-size: 20px;
  }

  #values .value-icon {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 768px) {
  #values h4 {
    width: max-content;
  }

  #values h4 {
    font-size: 35px;
  }

  #values .value-icon {
    width: 54px;
    height: 54px;
  }

}



.navbar-toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  #header {
    position: relative;
  }

  #header .nav {
    position: absolute;
    top: 100%;
    right: -100%;
    padding: 25px 0 !important;
    flex-direction: column;
    align-items: center;
    transition: 0.8s ease-in-out;
    display: none;
    z-index: 2;
    opacity: 0;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }

  #header .nav-open {
    right: 0%;
    width: 60%;
    opacity: 1;
    display: flex;
    border-radius: 5px;
  }

  /*dropdown*/
  .dropdown-content {
    min-width: 180px;
  }

  .dropdown-content .dropdown-link {
    padding: 8px 16px;
    font-size: 16px;
  }

  .dropdown-content .dropdown-link i {
    font-size: 22px;
  }

  /******************/

  .navbar-toggler {
    display: inline-block;
    /* Show the toggle button on small screens */
  }
}

@media (max-width: 480px) {
  #header .nav-open {
    width: 80%;
  }
}


#SingleProduct {
  padding-top: 0;
  padding-bottom: 0;

  position: relative;
}

#SingleProduct .back-button {
  position: absolute;
  top: -55px;
  left: 5px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
}

#SingleProduct .back-button:hover {
  background-color: #f0f0f0;
}

#SingleProduct .product-gallery .main-image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 400px;
  margin-bottom: 15px;
}

#SingleProduct .product-gallery .thumbnails {
  justify-content: space-between;
}

#SingleProduct .product-gallery .thumbnails .thumbnail {
  object-fit: cover;
  width: 150px;
  height: 100px;
}

#SingleProduct .product-details {
  padding: 0 30px;
}

#SingleProduct .product-details .product-title span {
  color: #7A7A7A;
  font-weight: 700;
  font-size: 18px;
}

#SingleProduct .product-details .product-infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #7A7A7A;
}

#SingleProduct .product-details .product-infos span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

#SingleProduct .product-details .product-description {
  padding: 40px 0;
  color: #000000;
  line-height: 1.6rem;
  margin-bottom: 0;
}

@media (min-width: 2500px) {
  #SingleProduct .container .row .product-gallery .main-image {
    height: 800px;
  }
}

@media (min-width: 2000px) {
  #SingleProduct .container .product-gallery .main-image {
    height: 700px;
  }

  #SingleProduct .container .product-gallery .thumbnails {
    gap: 20px;
  }

  #SingleProduct .container .product-gallery .thumbnails .thumbnail {
    width: 180px;
    height: 130px;
  }

  #SingleProduct .container .product-details .product-title span {
    font-size: 25px;
  }

  #SingleProduct .container .product-details .product-description {
    line-height: 2.5rem;
    font-size: 25px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #SingleProduct .container .product-details .product-infos span {
    font-size: 25px;
  }


  #SingleProduct .container .product-details .product-title h1 {
    font-size: 75px;
  }
}

@media (min-width: 1887px) {

  #SingleProduct .product-gallery .thumbnails {
    justify-content: center !important;
    gap: 10px;
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 195px;
  }

  #SingleProduct .product-details .product-title span {
    font-size: 22px;
  }

  #SingleProduct .product-details .product-description {
    line-height: 2.2rem;
    font-size: 22px;
  }

  #SingleProduct .product-details .product-infos span {
    font-size: 22px;
  }


  #SingleProduct .product-details .product-title h1 {
    font-size: 65px;
  }
}

@media (min-width: 1623px) {
  #SingleProduct .product-gallery .main-image {
    height: 600px;
  }

  #SingleProduct .product-gallery .thumbnails {
    justify-content: center !important;
    gap: 10px;
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 195px;
  }

  #SingleProduct .product-details {
    padding: 150px 30px 0 30px;
  }

  #SingleProduct .product-details .product-title span {
    font-size: 22px;
  }

  #SingleProduct .product-details .product-description {
    line-height: 2.2rem;
    font-size: 22px;
  }

  #SingleProduct .product-details .product-infos span {
    font-size: 22px;
  }


  #SingleProduct .product-details .product-title h1 {
    font-size: 65px;
  }
}

@media (min-width: 1440px) {

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 125px;
  }

  #SingleProduct .product-details .product-title span {
    font-size: 20px;
  }

  #SingleProduct .product-details .product-infos span {
    font-size: 20px;
  }

  #SingleProduct .product-details .product-description {
    padding: 50px 0;
    line-height: 2rem;
    font-size: 20px;
  }

  #SingleProduct .product-details .product-title h1 {
    font-size: 55px;
  }
}

@media (max-width: 1439px) {
  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 100px;
    height: 80px;
  }

  #SingleProduct .product-details {
    padding: 50px 30px 0 30px;
  }

  #SingleProduct .product-gallery .thumbnails {
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 1200px) {
  #SingleProduct .product-gallery .main-image {
    height: 350px;
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 90px;
    height: 55px;
  }

  #SingleProduct .product-gallery .thumbnails {
    justify-content: center;
    gap: 20px;
  }

  #SingleProduct .product-details {
    padding: 0 30px 0 30px;
  }

  #SingleProduct .product-details .product-title span {
    font-size: 18px;
  }

  #SingleProduct .product-details .product-infos span {
    font-size: 18px;
  }

  #SingleProduct .product-details .product-description {
    padding: 40px 0;
    line-height: 1.6rem;
    font-size: 18px;
  }

  #SingleProduct .product-details .product-title h1 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  #SingleProduct .product-gallery .main-image {
    height: 320px
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 65px;
    height: 50px;
  }

  #SingleProduct .product-gallery .thumbnails {
    gap: 10px;
  }

  #SingleProduct .product-details {
    padding: 0 15px 0 15px;
  }

  #SingleProduct .product-details .product-title span {
    font-size: 16px;
  }

  #SingleProduct .product-details .product-infos span {
    font-size: 16px;
  }

  #SingleProduct .product-details .product-description {
    padding: 30px 0;
    line-height: 1.5rem;
    font-size: 16px;
  }

  #SingleProduct .product-details .product-title h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #SingleProduct .product-details {
    padding: 0 30px 0 30px;
  }

  #SingleProduct .product-gallery .main-img-container {

    margin: 20px 30px 0 30px;
  }

  #SingleProduct .product-gallery .main-image {
    height: 450px
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 90px;
    height: 70px;
  }

  #SingleProduct .product-gallery .thumbnails {
    gap: 15px;
  }

  #similar .item {
    width: 35%;
    max-width: 35%;
    height: 300px;
  }

  #similar {
    padding-left: 30px;
  }
}


@media (max-width: 580px) {
  #SingleProduct .back-button {
    width: 35px;
    height: 35px;
    top: -50px;
  }

  #SingleProduct .back-button i {
    font-size: 25px;
  }

  #SingleProduct .product-details .product-title span {
    font-size: 14px;
  }

  #SingleProduct .product-details .product-infos span {
    font-size: 14px;
  }

  #SingleProduct .product-details .product-description {
    padding: 15px 0;
    line-height: 1.2rem;
    width: 80%;
    font-size: 12px;
  }

  #SingleProduct .product-details .product-title h1 {
    font-size: 25px;
    margin-bottom: 0;
  }

  #SingleProduct .product-details {
    padding: 0 20px 0 20px;
  }

  #SingleProduct .product-gallery .main-img-container {
    margin: 20px 0 0 0;
  }

  #SingleProduct .product-gallery .main-image {
    height: 310px
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 70px;
    height: 60px;
  }

  #SingleProduct .product-gallery .thumbnails {
    gap: 10px;
  }

  #similar .item {
    width: 50%;
    max-width: 50%;
    height: 250px;
  }

  #similar .item .work-info {
    width: 170px;
    height: 60px;
    bottom: 60px;
  }

  #similar .item .plus {
    width: 60px;
    height: 60px;
    font-size: 20px;
    top: 10px;
  }

  #similar .item .work-info .work-name {
    font-size: 14px;
  }

  #similar {
    padding-left: 20px;
  }

}

@media (max-width: 425px) {
  #SingleProduct .product-details .product-title span {
    font-size: 12px;
  }

  #SingleProduct .product-details .product-infos span {
    font-size: 12px;
  }

  #SingleProduct .product-details .product-description {
    padding: 10px 0;
    width: 95%;
    line-height: 1.2rem;
  }

  #SingleProduct .product-details {
    padding: 0 15px 0 15px;
  }

  #SingleProduct .product-gallery .main-img-container {
    margin: 15px 0 0 0;
  }

  #SingleProduct .product-gallery .main-image {
    height: 280px
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 60px;
    height: 50px;
  }

  #SingleProduct .product-gallery .thumbnails {
    gap: 10px;
  }

  #similar {
    padding-left: 15px;
  }
}

@media (max-width: 376px) {
  #SingleProduct .back-button {
    width: 23px;
    height: 23px;
    top: -25px;
  }

  #SingleProduct .back-button i {
    font-size: 20px;
  }

  #SingleProduct {
    margin-top: 2rem;
  }

  #SingleProduct .product-gallery .main-image {
    height: 240px
  }

  #SingleProduct .product-gallery .main-img-container {
    margin: 5px 0 0 0;
  }

  #SingleProduct .product-gallery .thumbnails .thumbnail {
    width: 55px;
    height: 40px;
  }

  #SingleProduct .product-gallery .thumbnails {
    gap: 5px;
  }
}